*{
    margin: 0;
    padding: 0;
}
#banner{
    height: 100vh;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container h1{
    text-align: center;
    padding: 150px 300px 15px 350px;
    font-size: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
.banner-container p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;    
}
#button-container{
    width: 6%;
    margin: auto;
}
.btn{
    color: white;
    background-color: tomato;
    border-radius: 10px;
    font-size: 20px;
}
